     /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 65%;
        margin-top: 58px;
        margin-left: 200px;
        width: 65%;
       
        
      }

      /* Optional: Makes the sample page fill the window. */
      table {
        font-size: 12px;
      }

      .foodTruck-search {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        width: 440px;
        z-index: 1;
        margin-top: 45px;
        margin-left: 240px;
      }

      #listing {
        position: absolute;
        width: 240px;
        height: 485px;
        overflow: auto;
        left: 442px;
        top: 0px;
        cursor: pointer;
        overflow-x: hidden;
        margin-top: 125px;
        margin-left: 703px;
      }

      #findFoodTrucks {
        font-size: 14px;
      }

      #locationField {
        -webkit-box-flex: 1 1 190px;
        -ms-flex: 1 1 190px;
        flex: 1 1 190px;
        margin: 0 8px;
      }

      #controls {
        -webkit-box-flex: 1 1 140px;
        -ms-flex: 1 1 140px;
        flex: 1 1 140px;
      }

      #autocomplete {
        width: 100%;
      }

      .placeIcon {
        width: 20px;
        height: 34px;
        margin: 4px;
      }

      .foodTruckIcon {
        width: 24px;
        height: 24px;
      }

      #resultsTable {
        border-collapse: collapse;
        width: 360px;
      }

      #rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
      }

      .truckInfo_table_row {
        height: 30px;
      }

      .truckInfo_attribute_name {
        font-weight: bold;
        text-align: right;
      }
      
      .truckInfo_table_icon {
        text-align: center;
      }



      